body {
  background-color: #FFDB00   ;

  font-family: 'Cutive Mono', monospace;
}

.page1 {

  background-color: #E8D8BB  ;
}

h1 {
  position: relative;
  text-align: center;
  margin-top: 10px;
  font-family: 'Rammetto One', cursive;
}

a{
  text-decoration: none;
  color: black;
}

.unohover {

 display: inline;
  text-align: center;
font-size: 280px;
padding: 0px;

}

.unodos{
  display: inline;
  text-align: center;
font-size: 300px;

font-family: 'Tilt Prism', cursive;
padding: 0px;
}

.unotres{
  display: inline;
  text-align: center;
font-size: 300px;

font-family: 'Henny Penny', cursive;
padding: 50px;
}

.unohover :hover {

  font-size: 370px;

}

.unodos:hover {

font-size: 370px;

}

.unotres:hover {

font-size: 370px;

}

.number {
  font-size: 300px;
  font-family: 'Rammetto One', cursive;

}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  
}

button {

display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #ffd200;
  color: #000;
  font-weight: bold;


}

button:hover {
  background-color: #000;
  color: #fff;
}

.advices {

padding: 60px;

font-size: 50px;
text-align: center;
font-family: 'Cutive Mono', monospace;

}

.page {

font-size: 120px;
  font-family: 'Rammetto One', cursive;
}


.moons {

width: 300px;
height: 400px;
padding-left: 0px;
margin-top: -200px;

   margin: 0px;
   z-index: 2;
}


.exit2{

width: 300px;
height: 300px;
 display: block;
  margin-left: auto;
  margin-right: auto;

}

.exit2:hover{

width: 400px;
height: 400px;
 display: block;
  margin-left: auto;
  margin-right: auto;

}

.exit3 {
 position: relative;
width: 300px;
height: 300px;
 display: block;
  margin-left: auto;
  margin-right: auto;
  
  
}

.exit3:hover {
 position: relative;
width: 430px;
height: 430px;
 display: block;
  margin-left: auto;
  margin-right: auto;
  
  
}

.enternumber {

  font-size: 40px;
  padding: 30px;
}

.enterletter{

  font-size: 40px;
  padding: 30px;
}


.betterday{

padding: 40px;
  font-size: 40px;
}

